
Pacman/obj/Debug/Pacman.pdb
Pacman/obj/Debug/Pacman.exe
Pacman/obj/Debug/Pacman.csprojAssemblyReference.cache
Pacman/obj/Debug/Pacman.csproj.GenerateResource.cache
Pacman/obj/Debug/Pacman.csproj.FileListAbsolute.txt
Pacman/bin/Debug/Pacman.pdb
Pacman/bin/Debug/Pacman.exe
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/RP3/v16/.suo
